numpy==1.21.5
Rtree==0.9.4
geopandas==0.9.0
pandas==1.4.1
Shapely==1.7.0
scipy==1.5.1
pyproj==2.6
geopy==1.20.0
geojson==2.5.0
jsonschema==3.2.0
scikit-learn==1.1.1
simPy==3.0.12
networkx==2.5
osmnx==1.0.1
gtfs-kit==5.0.2
mpu==0.22.0
alns==1.2.5
numba==0.55.1
